# Python package requirements for building the documentation of ESP-IDF.
# This feature can be enabled by running "install.{sh,bat,ps1,fish} --enable-docs"

esp-docs
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
